<form <%= this %>>
	<legend>Verify Connection</legend>
	<span class="question"></span>
	<hr size="1" noshade style="border:1px dashed #ccc">
	<ul id="tabs">
		<li><a href="#manual">Manual</a></li>
		<li><a href="#schedule">Scheduled</a></li>
	</ul>
	<div id="manual">
	</div>
	<div id="schedule">
		<fieldset>
			<span>To verify the connection by clicking Apply.</span>
				<div>
					<%== $.View('component/checkbox', {name: 'enable', label: 'Enable Scheduled Verification', value: this.enable}) %><br/>
					<div class="float">
						<%== $.View('component/radio', {name: 'frequency', label: 'Once', value: 'once', current: this.frequency}) %><br/>
						<%== $.View('component/radio', {name: 'frequency', label: 'Hourly', value: 'hourly', current: this.frequency}) %>
						<span>:</span>
						<span>Every</span>
						<select id="hour_frequency" name="hourly_frequency">
							<option value=1>1</option>
							<option value=1>2</option>
							<option value=1>3</option>
							<option value=1>4</option>
							<option value=1>6</option>
							<option value=1>12</option>
						</select>
						<span>Hours</span><br/>
						<%== $.View('component/radio', {name: 'frequency', label: 'Daily', value: 'daily', current: 'once'}) %>
						<span>:</span>
						<span>Every</span>
						<select id="day_frequency" name="daily_frequency">
							<option value=1>1</option>
							<option value=1>2</option>
							<option value=1>3</option>
							<option value=1>4</option>
							<option value=1>5</option>
						</select>
						<span>Days</span>
					</div>
					<div class="float">
						<label class="bold">Start Time</label><span>:</span><br/>
						<select id="hour" name="hour">
							<% for(var i=0; i<24; i++) { %>
							<option value=<%= (i>=10?'':'0')+i%>><%= (i>=10?'':'0')+i%></option>
							<% } %>
						</select>
						<span>:</span>
						<select id="minute" name="minute">
							<% for(var i=0; i<60; i+=5) { %>
							<option value=<%=(i>=10?'':'0')+i%>><%=(i>=10?'':'0')+i%></option>
							<% } %>
						</select>
						<br/>
						<label for="hour" class="time">hh</label>
						<span>&nbsp;</span>
						<label for="minute" class="time">mm</label>
					</div>
					<div class="clear">
						<label>
							<span class="bold">Target IP Address</span><span>:</span>
						</label><br/>
						<span name="ip">
							<input name="oct1" type="text" class="ip" maxlength=3 size=3>.
							<input name="oct2" type="text" class="ip" maxlength=3 size=3>.
							<input name="oct3" type="text" class="ip" maxlength=3 size=3>.
							<input name="oct4" type="text" class="ip" maxlength=3 size=3>
						</span>
						<br/>
						<span class="desc">e.g.192.168.2.1</span>
					</div>
				</div>
		</fieldset>
		<fieldset>
			<button id="apply">Apply</button>
			<button id="cancel">Cancel</button>
		</fieldset>
	</div>
</form>
